.ParamTabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 400px; */
}

.ParamDescription {
  display: grid;
  grid-template-columns: 400px 300px;
  align-items: center;
  /* display: flex;
  align-items: center;
  width: 100%; */
}

.ParamDescriptionContainer {
  margin: 20px;
}

/* .ParamDescriptionContainer {
  flex: 2;
} */

.ParamDescriptionContainer select {
  width: 100%;
  margin-top: 10px;
}

.ParamDescription .btn {
  flex: 1;
  padding: 6px 12px;
}

/* Having values of params */
.param-name,
.param-type {
  font-weight: 700;
}

.param-value::first-child {
  margin-right: 10px;
}

.param-value span {
  font-weight: 700;
}
