.nav-link {
  background-color: transparent;
}

.select {
  word-wrap: normal;
  margin: 0;
  font-family: inherit;
}

.select-list {
  background-color: #fff;
  color: rgb(0, 0, 0);

  border-radius: 50px;
  box-shadow: none !important;
  word-break: break-all;
  font-size: 18px !important;
  text-transform: none !important;
}

.form-select:focus {
  border-color: #1266f1;
  outline: 0;
}

::after,
::before {
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

.fade {
  display: block;
  transition: opacity 0.15s linear;
  box-sizing: border-box;
  --bs-gutter-y: 1rem;
  --bs-gutter-x: 1rem;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.col {
  -webkit-box-flex: 1;
  flex: 1 0 0%;
  padding: 12px;
  width: 100%;
  max-width: 100%;
  margin-top: var(--bs-gutter-y);
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  box-sizing: border-box;
}

.btn-block {
  display: block;
  width: 50%;
}

.flex-center {
  justify-content: center;
  display: flex;
  padding: 10px;
}
