.CollectionListItem {
  text-align: left;
  margin-bottom: 30px;
  padding: 25px 40px;
}

.CollectionListItem-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.CollectionListItem-col:first-child {
  font-weight: 700;
  margin-right: 30px;
}

/* BUTTONS */
.CollectionListItem-btns {
  margin-top: 30px;
  display: grid;
  grid-template-columns: minmax(100px, 320px) 200px;
  column-gap: 20px;
}

.CollectionListBtn i {
  margin-right: 15px;
}

/* LINK */
.CollectionListBtn a,
.CollectionListBtn a:hover {
  text-decoration: none;
  color: #fff;
  padding: 10px 60px;
}
