.nav-link {
    background-color: transparent;
}

.root-contract-btn-toolbar {
    padding: 0 20px;
    margin: 20px 0 0 0;
}

.root-contract-btn {
    flex: 1;
}

.root-contract-btn:nth-child(2) {
    margin: 0 10px;
}

.select {
    word-wrap: normal;
    margin: 0;
    font-family: inherit;
}

.select-list {
    background-color: #fff;
    color: rgb(0, 0, 0);

    border-radius: 50px;
    box-shadow: none !important;
    word-break: break-all;
    font-size: 18px !important;
    text-transform: none !important;
}

.form-select {
    display: block;
    width: 94%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-weight: 400;
    line-height: 1.6;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%234f4f4f' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #bdbdbd;
    appearance: none;
    -moz-padding-start: calc(.75rem - 3px);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-select:focus {
    border-color: #1266f1;
    outline: 0;
}

::after,
::before {
    box-sizing: border-box;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

:root {
    --main-color: rgb(255, 255, 255);
    --title-color: rgb(32, 38, 42);
    --form-color: #e8efff;
    --btr-color: rgba(0, 83, 138, 0.781);
    --btr-color-sub: rgba(203, 255, 255, 0.781);
    --text-color: #333;
}

:root {
    --mdb-font-roboto: "Roboto", sans-serif;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-gray: #757575;
    --bs-gray-dark: #4f4f4f;
    --bs-primary: #1266f1;
    --bs-secondary: #b23cfd;
    --bs-success: #00b74a;
    --bs-info: #39c0ed;
    --bs-warning: #ffa900;
    --bs-danger: #f93154;
    --bs-light: #fbfbfb;
    --bs-dark: #262626;
    --bs-white: #fff;
    --bs-black: #000;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
}

.fade {
    display: block;
    transition: opacity .15s linear;
    box-sizing: border-box;
    --bs-gutter-y: 1rem;
    --bs-gutter-x: 1rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2);
}

.col {
    -webkit-box-flex: 1;
    flex: 1 0 0%;
    padding: 12px;
    width: 100%;
    max-width: 100%;
    margin-top: var(--bs-gutter-y);
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    box-sizing: border-box;
}

.btn-blue {
    font-weight: 600;
    border-radius: 50px;
}

.btn-sub {
    background-color: rgba(0, 125, 215, 0);
    border: 2px solid var(--btr-color);
    color: var(--btr-color) !important;
}

.text {
    word-break: break-all;
    font-size: 18px !important;
    text-transform: none !important;
}

.btn-block {
    display: block;
    width: 50%;
}

.flex-center {
    justify-content: center;
    display: flex;
    padding: 10px;
}