.nav {
    display: flex;
    justify-content: center;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 40px auto;
}

.nav__item {
    padding: 0 30px;
}

a.nav__link {
    text-decoration: none;
    color: #000;
}