.commitsion-tab {
    text-align: left;
}

.commision-tab__content {
    width: 50%;
}

.commsion-input {
    display: none;
}

.active {
    display: block;
}
.labelCheckboxCommision{
    padding-top: 3px;
    padding-left: 5px;
}
.commision-checkbox{
    padding-left: 20px;
}
