/* FORM */
.MintingTokensFormContainer {
  max-width: 600px;
}

.minting-tokens-form {
  padding-top: 20px;
  text-align: left;
}

.sing-block-inputs {
  display: none;
}
.sing-block-inputs.active {
  display: block;
}

.sign-block-item {
    margin-bottom: 10px;
}

/* BUTTON */
.MintingTokensFormBtn {
  margin-top: 20px auto;
}

@media screen and (max-width: 576px) {
  .MintingTokensFormBtn a {
    padding: 10px 50px;
  }
}

.MintingTokensFormBtn i {
  margin-right: 10px;
}


/* RARITIES AND PARAMS */
.RaritiesField,
.ParamsField {
  margin-bottom: 25px;
}

.RaritiesField-select {
  width: 100%;
}

.parameter-block {
  margin-bottom: 7px;
}

/* RARITIES, PARAMS, SIGN TITLE */
.RaritiesField-title,
.ParamsField-title,
.SignField-title {
  font-size: 20px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.SignField-title {
    margin-right: 10px;
}