/* FORM */
.MintingTokensFormContainer {
  max-width: 700px;
}

.minting-tokens-form {
  padding-top: 20px;
  text-align: left;
}

.sing-block-inputs {
  display: none;
}
.sing-block-inputs.active {
  display: block;
}

.sign-block-item {
    margin-bottom: 10px;
}

/* BUTTON */
.MintingTokensFormBtn {
  margin-top: 20px;
  padding-left: 90px;
  padding-right: 90px;
}

.MintingTokensFormBtn i {
  margin-right: 10px;
}

@media screen and (max-width: 576px) {
  .MintingTokensFormBtn {
    padding-right: 50px;
    padding-left: 50px;
  }
}

/* RARITIES AND PARAMS */
.RaritiesField,
.ParamsField {
  margin-bottom: 25px;
}

.RaritiesField-select,
.EnumsField-select {
  width: 100%;
}

.parameter-block {
  margin-bottom: 7px;
}

/* RARITIES, PARAMS, SIGN TITLE */
.RaritiesField-title,
.ParamsField-title,
.SignField-title,
.EnumsField-title {
  font-size: 20px;
  font-weight: 500;
}

.SignField-title {
    margin-right: 10px;
}