.tokens-data-box-main {

    margin: 0 auto;
    border-radius: 50px;
    background-color: var(--form-color);
    color: #000;
    margin-top: 40px;
    padding: 35px;
    text-align: left;
}
.row-info-coll{
    padding-left: 100px;
}






.text-main {
    font-weight: 600;
}






