.tokens-data-box-main {
    padding: 0 30px 20px 30px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: var(--form-color);
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
    --main-color: rgb(255, 255, 255);
    --title-color: rgb(32, 38, 42);
    --form-color: #e8efff;
    --btr-color: rgba(0, 83, 138, 0.781);
    --btr-color-sub: rgba(203, 255, 255, 0.781);
    --text-color: #333;
    --mdb-font-roboto: "Roboto", sans-serif;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.g-3,
.gy-3 {
    --bs-gutter-y: 1rem;
}

.g-3,
.gx-3 {
    --bs-gutter-x: 1rem;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2);
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/2);
    padding-left: calc(var(--bs-gutter-x)/2);
    margin-top: var(--bs-gutter-y);
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2);
}

.col-4 {
    width: 33.3333333333%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/2);
    padding-left: calc(var(--bs-gutter-x)/2);
    margin-top: var(--bs-gutter-y);
}

.col-3,
.col-4 {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.text-main {
    font-weight: 600;
}

.text {
    word-break: break-all;
    font-size: 18px !important;
    text-transform: none !important;
}

.col-8 {
    width: 66.6666666667%;
}

.col-7,
.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.tokens-data-container {
    margin-top: 40px;
    padding: 50px;
    text-align: left;
}

.col-lg-4 {
    width: 33.3333333333%;
}

.col-lg-3,
.col-lg-4 {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.btn {
    font-weight: 600;
    border-radius: 50px;
}

.btn-debot {
    padding: 11px;
    background-color: var(--btr-color);
    width: 100%;
    color: rgb(255, 255, 255) !important;
    height: auto;
    text-transform: none !important;
    font-size: 16px !important;
    height: 90%;
    -webkit-box-shadow: 0px 5px 12px 10px rgba(0, 83, 138, 0.1) !important;
    -moz-box-shadow: 0px 5px 12px 10px rgba(0, 83, 138, 0.1) !important;
    box-shadow: 0px 1px 5px 0px rgba(0, 83, 138, 0.3) !important;
    font-family: var(--mdb-font-roboto);
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 400;
}